<h2 class="form-title">Edit your post below</h2>
<div class="edit-post-form forms">

  <%= form_for @post do |f| %>
      <%= f.text_area :message, value: @post.message %>
      <%= f.submit 'Update Post' %>
  <% end %>
</div>
