<h1>AceBook</h1>
<div class='timeline-wrapper'>
  <div class="create-post">
    <% if current_user %>
      <%= link_to new_post_path do %>
      Create post
      <% end %>
    <% end %>
  </div>

  <div class='posts-timeline'>
    <%= render @posts %>
  </div>
</div>
